<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>Books</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
          <td><%= </td>
        </tr>
        

      </tbody>
    </table>
  </body>
</html>
