<h1>Books</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
          <td><%= </td>
         </tr>
      <% end %>
    </tbody>
  </table>

  <h2>New book</h2>
  <% if @books.errors.any? %>
  <%= form_for(@books) do |f| %>
  
