/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top{
  padding:10px;
}

.top-style{
  padding:10px 40px;
}

body{
  padding:20px;
  font-family:verdana, arial, helvetica;
}

.index{
  max-width: 750px;
  padding-top:20px;
}

table td{
  word-break : break-all;
  max-width: 350px;
}

.index-td-body{
  padding-left:20px;
  padding-right:20px;
}

.index-td{
  width: 50px;
}

.index-td-destroy{
  width:70px;
}

.new-book{
  padding-top:40px;
  padding-bottom:20px;
}

.text{
  padding:10px;
}
.show{
  padding:20px 40px;
}

.show-th,.show-td{
  padding-bottom:20px;
}

.style{
  display:inline-block;
  padding-top:10px;
}

.edit{
  padding-bottom:20px;
}

.flash{
  color:green;
}